extends ../layout

block content
	h1(class='pokeFont center') Choose your first Pokémon!
	p.center
		a(href='/choose?pk=1')
			img(src='/img/pokemon/main-sprites/red-blue/1.png')
			span.pokeFont Bisasam
	p.center
		a(href='/choose?pk=4')
			img(src='/img/pokemon/main-sprites/red-blue/4.png')
			span.pokeFont Glumanda
	p.center
		a(href='/choose?pk=7')
			img(src='/img/pokemon/main-sprites/red-blue/7.png')
			span.pokeFont Shiggy