.button
	display block
	width 30px
	height 18px
	background #FFD700
	padding 10px
	text-align center
	border-radius 5px
	color #00008B
	text-decoration none
	font-weight bold

.crop 
	width 400px
	height 800px
	overflow hidden

.crop div.welcome
	background-image url('/img/RED_iPhone_4.jpg')
	// blurfilter(2px)
	width 600px
	height 800px
	margin -160px 0 0 -102px
	position relative

.hide
	display none

.signInRegister
	width 600px
	top 100px
	left 35px
	position absolute

.homeScreen *
	font-family pokemon_font

.registerButton, .loginButton
	margin 0px
	padding 0px
	width 70px
	height 40px

.pokeFont
	font-family pokemon_font

.enemyPokemon, .trainerPokemon, .fightMenu
	width 95%

.enemyPokemon, .trainerPokemon
	padding 10px

.enemyPokemon
	height 130px

.trainerPokemon
	margin-top 20px
	height 70px

.fightMenu, #attacks
	groove-border(3px, grey)
	height 100px

.action
	float left
	width 50%
	height 25%
	text-align center

#attacks
	width 150px
	font-size 9px
	background-color lightgrey
	position absolute
	z-index 1

.trainerPokemonImg
	position relative
	top 40px
	left 20px


.pokemonStatus
	padding 5px
	width 120px
	float left
	groove-border(3px, black)
	border-top none
		
.enemyPokemon .pokemonStatus
	border-right none
	margin-right 105px

.trainerPokemon .pokemonStatus
	border-left none
	margin-left 139px

.statusBar
	height 2px
	background-color green

.statusBarContainer
	width 100px
	height 3px
	groove-border(3px, lightgrey)

.pokeDexTable
	width 100%

.pokeDexTr
	border-bottom 1px solid grey

.pokeDexImgTd
	width 60px
	height 60px